* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%; /* 16px is now 10px, therefore 1 REM = 10px */
  color: black;
}

.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 8fr;
  justify-content: left;
  align-items: center;
  justify-items: center; /* what actually centers the windows */
  row-gap: 20px;
}
