* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%; /* 16px is now 10px, therefore 1 REM = 10px */
  color: black;
}

.app-container {
  display: grid;
  grid-template-columns: 15% 85%; /* SideNav / Dashboard area */
  gap: 2rem;
  justify-content: left;
  align-items: center;
  justify-items: center; /* what actually centers the windows */
  row-gap: 20px;
  width: auto;
  min-height: 100vh;
  overflow-x: hidden;
}
