* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%; /* 16px is now 10px, therefore 1 REM = 10px */
  color: black;
}

.app-container {
  display: grid;
  gap: 2rem;
  justify-content: left;
  align-items: center;
  justify-items: center; /* what actually centers the windows */
  row-gap: 20px;
  width: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Smallest mobile: */
@media screen and (min-width: 320px) {
  .app-container {
    grid-template-columns: 50px auto; /* SideNav / Dashboard area */
    gap: 0.5rem;
  }
}

/* Smallest Desktop: */
@media screen and (min-width: 900px) {
  .app-container {
    grid-template-columns: minmax(100px, 150px) auto; /* SideNav / Dashboard area */
    gap: 0.5rem;
  }
}
