.nav-side-bar-container {
  display: grid;
  grid-template-rows: 20rem auto 30rem;
  justify-items: left;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(62, 91, 100),
    90%,
    rgb(93, 132, 145)
  );
  box-shadow: 10px 0 5px -8px rgba(0, 0, 0, 0.12),
    10px 0 5px -8px rgba(0, 0, 0, 0.16), 10px 0 5px -6px rgba(0, 0, 0, 0.2);
  z-index: 4;
  overflow: hidden;
  width: 150px;
}
