.link-label {
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 1;
}

.submenu-item-row {
  opacity: 0;
  z-index: 1; /* needs to slide UNDER the Menus */
  color: rgb(231, 231, 231);
  display: grid;
  align-items: center;
  padding-left: 4rem;
  min-height: 3.5rem;
  min-width: 130px; /* this worked. Seems wrong though */
  /* overflow-x: hidden; */
}

.submenu-item-row:hover {
  cursor: pointer;
  background-color: rgb(27, 64, 75);
}

.submenu-link {
  width: 100%;
  z-index: 1; /* needs to slide UNDER the Menus */
  opacity: 0;
}

.active {
  opacity: 1;
  transition: opacity 1000ms 200ms ease-in-out;
}
