.setup-header-row {
  position: relative;
  align-items: center;
  width: auto;
}

.setup-headers {
  /* child: header-sequence-number is based on this parent element */
  justify-self: center;
  align-self: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  border-radius: 15px;
  width: 150px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16);
  border: 1px solid black;
}
.setup-headers:hover {
  cursor: pointer;
  border: 1px solid green;
  background-color: rgb(225, 252, 225);
}

.selected {
  border: 1px solid green;
  background-color: rgb(184, 255, 184);
}

.removed {
  display: none;
}

.header-sequence-number-wrapper {
  position: absolute;
  font-size: 1.25rem;
  border: 1px solid rgb(112, 112, 112);
  padding: 0.2rem;
  border-radius: 15px 0px 0px 15px;
  left: 0%;
  top: 0%;
  height: 80%;
  width: 10%;
  background-color: white;
  text-align: center;
}

.header-sequence-number {
  margin-top: 37.5%;
}
