.nav-side-bar-menu-header-container {
  display: grid;
  position: relative;
  align-items: center;
  min-height: 3.5rem;
  z-index: 3;
}

.menu-item {
  min-height: 3.5rem;
  padding-left: 2rem;
  align-self: center;
  z-index: 3;
}

.menu-item:hover {
  cursor: pointer;
  background-color: rgb(27, 64, 75);
}

.nav-side-bar-menu-text {
  text-wrap: wrap;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(231, 231, 231);
}

.nav-side-bar-menu-container {
  display: grid;
  background-color: rgb(62, 91, 100);
  grid-template-columns: 70% 30%; /* Link + => */
}

/* SUB MENU: */

.nav-side-bar-submenu-container {
  display: grid;
  justify-content: left;
  max-height: 0px;
  z-index: 1;
  transition: max-height 500ms ease-in-out;
}

.active {
  max-height: 200px;
  transition: max-height 500ms ease-in-out;
}
