#dropzone-container {
  display: grid;
  align-items: center;
  text-align: center;
  align-content: center;
  color: rgb(94, 93, 93);
  border: 1px dotted darkgrey;
  width: 300px;
  padding: 15px 0 10px 0;
  margin-top: 20px;
}

/* children of container: */
.dropzone-container > * {
  margin: 5px;
  justify-self: center;
  padding: 0.5rem;
}

.dropzone-text-default {
  font-size: 1.2rem;
  text-align: center;
  display: block;
}

.upload-svg-icon {
  display: block;
  transform: scale(150%);
}

.submit-file-button {
  display: block;
  background-color: rgb(225, 244, 250);
  font-size: 1.1rem;
  color: rgb(17, 17, 148);
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 0 auto;
}

/* DropZone Component State Handling CSS*/
/*  invisible input trigger to upload files */

.dropzone-container:hover {
  border: 1px dotted black;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

/* for input element: */
.hidden {
  visibility: none;
}

#file-valid-container {
  background-color: rgb(206, 242, 253);
  color: rgb(25, 74, 209);
  border: 1px dotted black;
}

/* don't need a dragging state... when checking validity, we are always in a dragging state... valid? === dragging */
#file-valid-children {
  pointer-events: none; /* prevents trigger setState when dragging */
}

#file-invalid-container {
  border: 1px dotted rgb(90, 90, 90);
  background-color: rgb(226, 158, 158);
}

#file-invalid-children {
  pointer-events: none; /* prevents trigger setState when dragging */
  font-size: 1.2rem;
  text-align: center;
  display: block;
  color: #7c2e2e;
}
