.table-settings-header {
  display: grid;
  align-items: center;
  background-color: rgb(225, 244, 250);
  color: rgb(32, 44, 48);
  font-size: 1.5rem;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

#table-header-grab-icon {
  justify-self: left;
  display: inline;
  margin: 0.5rem 0 0 1rem;
  height: 2.25rem;
}

#table-header-grab-icon:hover {
  cursor: grab;
}

#table-header-grab-icon:active {
  cursor: grabbing;
}

.table-header-icon {
  justify-self: right;
  display: inline;
  margin: 0.5rem 1rem 0 0.5rem;
  height: 2rem;
  animation: fadeInAnimation ease 0.5s;
}

.table-header-icon:active {
  transform: translateY(-2px);
}

.table-header-icon:hover {
  cursor: pointer;
  filter: brightness(300%);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50;
  }
  100% {
    opacity: 100;
  }
}
