.table-row {
  display: grid;
  align-items: center;
  animation: fadeInAnimation ease 1.25s;
}

.table-row:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.table-row:last-child {
  border-radius: 0 0 10px 10px;
  padding-bottom: 0.25rem; /* prevents bottom from looking "cut-off" */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50;
  }
  100% {
    opacity: 100;
  }
}
