.app-title-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
  margin-top: 6.25rem;
  padding-bottom: 2rem;
  /* border-bottom: 1px solid gray; */
  width: 100%;
}

.app-logo {
  height: 6rem;
}

.app-title {
  color: white;
  font-size: 2rem;
  width: auto;
  text-align: center;
}

.app-title-container:hover {
  cursor: pointer;
}
