.app-title-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
  margin-top: 6.25rem;
  padding-bottom: 2rem;
  /* border-bottom: 1px solid gray; */
  width: 100%;
}
#link-logo {
  display: grid;
  align-items: center;
  align-content: center;
}

.app-logo {
  margin: 0 auto;
}

.app-title {
  font-size: 2rem;
  width: auto;
  text-align: center;
}

.app-title-container:hover {
  cursor: pointer;
}

.maximize-logo {
  height: 6rem;
}

.minimize-logo {
  height: 3.5rem;
}

.maximize-title {
  color: white;
}

.minimize-title {
  color: transparent;
  height: 2rem;
}
