.nav-side-bar-list {
  align-self: self-start;
  display: grid;
  grid-template-rows: fit-content(100%);
  justify-content: stretch;
  list-style: none;
  margin-top: 3rem;
  width: 100%;
  align-items: center;
}

.nav-side-bar-item {
  display: grid;
  align-items: center;
  min-height: 3.5rem;
}

.nav-side-bar-item:hover {
  cursor: pointer;
  background-color: rgb(27, 64, 75);
}

.link-label {
  margin-left: 1.5rem;
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-size: 1.5rem;
  font-weight: 600;
}

#link-logo {
  margin-left: 0;
}

/*
 
CREATE A HIGHLIGHT when user hovers over the menu list item
 
*/
