.row-cell-container {
  display: grid;
  height: 100%;
  align-self: center;
  align-content: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-overflow: clip;
  border-radius: 10px;
  /* max-width: fit-content; */
}

.row-cell-container:hover {
  background-color: rgb(234, 242, 245);
  cursor: pointer;
}

.row-cell-content {
  padding: 2px;
  padding-left: 5px;
  align-self: center;
  align-content: center;
}
