.row-cell-content {
  background-color: transparent;
  padding: 2px;
  padding-left: 5px;
  align-self: center;
  align-content: center;
  border-radius: 5px;
  border: none;
  width: auto;
}

.row-cell-content:hover {
  cursor: pointer;
  background-color: rgba(170, 231, 231, 0.39);
}
