.header-bar-item-list-container {
  display: flex;
  justify-items: right;
}

.header-save-btn {
  width: 50px;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  min-width: 75px;
  font-weight: 500;
  font-size: 1.2rem;
}

.header-save-btn:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.header-save-btn:last-child {
  margin-right: 5rem;
}
