.header-bar-item-list-container {
  display: flex;
  justify-items: right;
}

.header-send-btn {
  width: 6rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
}

.header-send-btn-icon {
  height: 1.5rem;
  width: 1.5rem;
  pointer-events: none;
}

.header-send-btn:hover {
  cursor: pointer;
  filter: brightness(95%);
  border-radius: 30px;
  width: 3rem;
  /* will definitely need to fix this animation at some point */
  transition: width 500ms ease-in-out;
  transition: border-radius 500ms ease-in-out;
  transition: border-radius 500ms ease-in-out;
}

.header-send-btn:last-child {
  margin-right: 5rem;
}
