.side-menu-dropdown-icon-container {
  width: 100%;
  position: relative;
  height: 100%;
  transform: rotate(-90deg);
  transition: transform 200ms ease-in-out;
}

.side-menu-dropdown-arrow {
  position: absolute;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  left: 25%;
}

.top-arrow-line {
  transform: rotateY(40deg);
}

.bottom-arrow-line {
  transform: rotateY(-40deg);
}

.rotate {
  transform: rotateY(0deg);
  transition: transform 200ms ease-in-out;
}
