.link-label {
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-size: 1.5rem;
  font-weight: 600;

  z-index: 1;
}

.submenu-item-row {
  display: grid;
  grid-template-columns: 30% 70%; /* icon+link */
  color: rgb(231, 231, 231);
  display: grid;
  align-items: center;
  min-height: 3.5rem;
  width: 100%;
}

.submenu-item-row:hover {
  cursor: pointer;
  background-color: rgb(27, 64, 75);
}

.submenu-link {
  width: 100%;
}

/* have each submenu item shift right and slowly/smoothly appear */
.submenu-active {
  justify-self: center;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.submenu-inactive {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
