.data-table-dropzone {
  /* the dropzone is absolutely positioned relative to the table wrapper.
  - the benefit of this is that the dropzone component acts as an OVERLAY over the table and thus doesn't trigger a rerendering of the table onDrag and onDragLeave. This should prove to be more performant than have the dropzone be the tables parent as opposed to it's sibling.
  */
  position: absolute;
  display: grid;
  align-content: center;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.dropzone-text {
  z-index: 5;
  text-align: center;
  font-size: 1.5rem;
  pointer-events: none; /* NEEDED! */
}

.loading-progress-bar-container {
  border: 2px solid black;
  margin: 0 auto;
  width: 50%;
  pointer-events: none; /* NEEDED! */
}

.loading-progress-bar {
  background-color: (62, 91, 100);
  width: 100%;
  height: 100%;
}

.dragging {
  opacity: 0.75;
  z-index: 2;
  border: 1px dotted rgb(117, 110, 110);
  border-radius: 10px;
}

.valid {
  background-color: #ddf5da;
  color: #262e25;
}

.invalid {
  color: #312120;
  background-color: #f5dcda;
}
