.nav-side-bar-menu-header-container {
  display: grid;
  position: relative;
  align-items: center;
  min-height: 3.5rem;
  z-index: 3;
  /* padding-bottom: 0.5rem; */
}

/* gives bottom border to last child */
.nav-side-bar-menu-header-container:last-child {
  border-bottom: 1px solid rgb(21, 52, 63);
}

.nav-side-bar-icon {
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  /* padding-left: 2rem; */
  align-self: center;
  justify-self: center;
  z-index: 3;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.menu-item {
  min-height: 3.5rem;
  padding-left: 1rem;
  align-self: center;
  z-index: 3;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.menu-item:hover {
  cursor: pointer;
  background-color: rgb(27, 64, 75);
}

.nav-side-bar-menu-text {
  text-wrap: wrap;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(231, 231, 231);
}

.nav-side-bar-menu-container {
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(62, 91, 100);
  grid-template-columns: 25% 50% 25%; /* Link + => */
  border-top: 1px solid rgb(21, 52, 63);
}

/* SUB MENU: */
.nav-side-bar-submenu-container {
  display: grid;
  justify-content: left;
  max-height: 0px; /* starts at 0px */
  z-index: 1;
  transition: z-index 1000ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}

.active {
  z-index: 2;
  max-height: 200px;
  transition: z-index 1000ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
