.data-table-wrapper {
  margin: 2rem;
  position: relative;
  z-index: 0;
}

.data-table {
  z-index: 2;
  display: grid;
  min-width: 500px;
  text-align: left;
  align-self: baseline;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px 10px;
  box-shadow: 0 1px 1px rgba(0, -0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16);
}
